@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
	/* breakpoint */
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1130px;
	--breakpoint-2xl: 1520px;

	/* colors */
	--color-primary: #fcf5eb;

	/* fonts */
	--font-primary: 'Montserrat';
}

body {
	@apply font-primary;
}
